.contenedor {
  background-color: green;
  border: 2px solid blue;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  transition: background-color 1s;
}

.items {
  flex: 1;
  height: 100px;
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .contenedor {
    background-color: red;
  }
}